{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <section class="about-section" id="about">
        <h1>О бренде Smirnoff Next</h1>
        <p> Smirnoff — это бренд стильных браслетов, созданных для тех, кто ценит уникальный дизайн и безупречное качество. 
            Мы сочетаем традиционные техники с инновациями, чтобы предложить украшения, отражающие индивидуальность.</p>
        <h2>История бренда </h2>
        <p>
            Тридцать лет тюрьмы оставили на запястьях Владислава глубокие рубцы от наручников — немые свидетельства несправедливого прошлого. После освобождения каждый взгляд, устремлённый на его шрамы, был уколом боли, пока однажды он не превратил свои раны в искусство — создав массивный золотой браслет, скрывающий следы прошлого. Сегодня его бренд Smirnoff — это не просто украшения, а символ преображения: "Золото не оставляет шрамов, — говорит Владислав, — оно дарит свет, превращая боль в красоту".
        </p>
        <h2>Искусство создания украшений </h2>
        <p>
            Smirnoff создаёт коллекции, объединяющие эстетику, качество и долговечность. Каждое изделие — это результат тщательной работы мастеров, сочетающих традиционные методы с передовыми технологиями. Мы используем как классические, так и современные способы обработки материалов, чтобы достичь идеального баланса между стилем и функциональностью. Вдохновляясь воинскими традициями, природными стихиями и урбанистической культурой, мы создаём браслеты, которые подчёркивают характер их владельца.
        </p>

    </section>

    <section class="about-section" id="description">

        <h2>Коллекции</h2>
        <p>Наши коллекции включают в себя разнообразные стили и концепции:</p>
        <ul>
            <li><strong>Классическая коллекция</strong> – элегантные браслеты, сочетающие в себе традиции и современность.</li>
            <li><strong>Современная коллекция</strong> – динамичные модели, вдохновлённые ритмом города.</li>
            <li><strong>Эксклюзивная коллекция</strong> – лимитированные модели с авторским дизайном.</li>
            <li><strong>Персонализированные часы</strong> – возможность создать уникальный браслет с персонализированными элементами.</li>
        </ul>
    </section>

    <section class="about-section" id="materials">
        <h2>Качество и философия</h2>
        <p>Каждое украшение Smirnoff — это баланс между классикой и современностью, мастерством ручной работы и передовыми технологиями. Мы уделяем особое внимание деталям и используем только проверенные материалы, чтобы создать изделия, которые будут не только стильными, но и долговечными.</p>
        <p>Наши принципы</p>
        <ul>
            <li><strong>Индивидуальность</strong> –  каждый браслет уникален.</li>
            <li><strong>Качество</strong> — только лучшие материалы и технологии.</li>
            <li><strong>Эксклюзивность</strong> – ограниченные коллекции и авторские модели.</li>
        </ul>
        <p>Браслеты Smirnoff — это символ силы, элегантности и индивидуальности, отражающий историю их создателя и каждого, кто их носит.</p>
    </section>
</div>
{% endblock %}